* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;    
}

body {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-color: white;
    background-size: cover;    
    box-sizing: border-box;
    background-position: fixed;   
}

main {    
    background-color: white;
    color: #045cbc;
    margin: 200px 200px;
    padding: 30px 30px;    
    border: solid 15px #001c41;
    border-radius: 20px;    
    font-family: Helvetica, sans-serif;              
}

header {
    padding: 20px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #001c41;
}

h1 {
    color: #ffcf01;
    border: solid 15px #001c41;
    border-radius: 20px; 
    background-color: #001c41;
}

fieldset {
    margin: 20px 20px;
    padding: 20px 20px;    
    border-radius: 10px;       
    border: solid 1px #045cbc;
    display: block;   
    flex-direction: column;      
}

label {    
    text-align: center;
    margin: 5px;      
    padding: 5px; 
}

textarea {
    height: 90%;
    width: 90%;
    border-color: #001c41;
}

#box-number {
    display: flex;
    border-color: #001c41;
    color: #001c41;   
}

#flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

#box-message, #box-cipher-message {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #001c41;
    border: solid 10px #001c41;    
}

#box-button {    
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    align-content: center;       
}

.btn {
    height: 100%;
    width: 100%;
    background-color: #ffcf01;
    color: #001c41;
    border-radius: 4px;
    border: none;    
    font-size: large;
    padding: 5px;
    margin: 5px;
    cursor: pointer;    
}

.btn.red {
    background: tomato;
}

.btn:hover {
    background-color: gray;
}







